.jira {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: cornflowerblue;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 18px;
  background-color: #2d2d2d;
  border-radius: 5px;

  &-alert {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(60, 180, 60);
    box-shadow: 2px 2px 4px rgba(100, 100, 100, 0.5);
    font-weight: bold;
    color: white;
  }

  a {
    color: cornflowerblue;
    // font-size: 18px;
  }
}
