.jira {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: cornflowerblue;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 18px;
  background-color: #2d2d2d;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 0.5em;

  &-alert {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(60, 180, 60);
    box-shadow: 2px 2px 4px rgba(100, 100, 100, 0.5);
    font-weight: bold;
    color: white;
    z-index: 200;
  }

  a {
    color: cornflowerblue;
    // font-size: 18px;
  }

  &-form {
    width: 60vw;
    max-width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #303030;

    &-container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 200;
      inset: 0;
      background: rgba(0, 0, 0, 0.95);
    }

    &-btn-group {
      margin-top: 1em;
      width: 60%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }
}
